<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modeifyreactnative"
    android:versionCode="6"
    android:versionName="1.0.3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Remove unneeded permissions that react-native adds by default -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      >
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:theme="@style/SplashTheme"
        >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!--Auth0 Lock-->
      <activity
        android:name="com.auth0.lock.LockActivity"
        android:theme="@style/Lock.Theme"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
      </activity>
      <!--Auth0 Lock End-->
      <!--Auth0 Lock Embedded WebView-->
      <activity
          android:name="com.auth0.identity.web.WebViewActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Embedded WebView End-->
      <!--Auth0 Lock Passwordless-->
      <activity
          android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
          android:theme="@style/Lock.Theme"
          android:screenOrientation="portrait"
          android:launchMode="singleTask">
      </activity>
      <activity
          android:name="com.auth0.lock.passwordless.CountryCodeActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Passwordless End-->
      <meta-data
       android:name="com.google.android.geo.API_KEY"
       android:value="AIzaSyBIudOvTOpNH5L4WfSaR83Y2O62_PHt71c"
       />
    </application>

</manifest>
